@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');